.footer__top {
  background-color: var(--primary);
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer__bottom {
  background-color: var(--darkprimary);
  padding: 10px 0;
}
.footer__copyright {
  color: var(--white);
  opacity: 0.7;
}
