@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
}

footer {
  margin-top: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary: #392ebb;
  --darkprimary: #2b228a;
  --secundary: #181818;

  --green: #5fd068;
  --lightred: #eb5353;

  --white: #ffffff;
  --background: #f4f4f4;
  --background2: #e2e2e2;

  --muted: #a0a0a0;

  --black: #000;
  --dark: #212121;
  --darkbg: #323232;

  --borde: 1px solid #a0a0a049;
  --borde2: 1px solid #eaeaef;

  --boxshadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  --espaciado: 2rem 0;
  --radius: 3px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}
a:hover {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

hr {
  opacity: 1;
  color: #f4f4f4;
}

.mb2 {
  margin-bottom: 2px;
}
.mr5 {
  margin-right: 5px;
}

.primary {
  color: var(--primary);
}
.muted {
  color: var(--muted);
}

.fw-mbold {
  font-weight: 500;
}

.dropdown-menu {
  border: 1px solid var(--background2);
  box-shadow: var(--boxshadow);
  border-radius: 3px;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  right: 0.7rem;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  background-color: var(--white);
  z-index: -1;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--background);
  opacity: 1;
  transition: all 0.3s ease;
}
.dropdown-divider {
  margin: 0.25rem 0;
  opacity: 0.5;
}

.button-icon {
  position: relative;
  border: none;
  background: transparent;
  font-size: 28px;
  color: var(--white);
  padding: 6px;
  line-height: 0;
}

.spinner-border {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 992px) {
  .dropdown-menu::before {
    top: -0.2rem;
    left: 0.7rem;
  }
}
