@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary: #392ebb;
  --darkprimary: #2b228a;
  --secundary: #181818;

  --green: #5fd068;
  --lightred: #eb5353;

  --white: #ffffff;
  --background: #f4f4f4;
  --background2: #e2e2e2;

  --muted: #a0a0a0;

  --black: #000;
  --dark: #212121;
  --darkbg: #323232;

  --borde: 1px solid #a0a0a049;
  --borde2: 1px solid #eaeaef;

  --boxshadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

html,
body,
#root {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}
a:hover {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

hr {
  opacity: 0.1;
}

.mb2 {
  margin-bottom: 2px;
}
.mr5 {
  margin-right: 5px;
}

.header {
  background-color: var(--primary);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
}

.header__flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar__section {
  display: none;
}

.navbar-brand {
  margin-right: 0;
}

.dropdown-menu {
  border: none;
  box-shadow: var(--boxshadow);
  border-radius: 3px;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  right: 0.7rem;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  background-color: var(--white);
  z-index: -1;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--background);
  opacity: 1;
}
.dropdown-divider {
  margin: 0.25rem 0;
  opacity: 0.5;
}

.navbar__item.dropdown .dropdown-toggle {
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: transparent;
}

/* LOADING SPINNER START */

.spinner-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 60px;
  height: 60px;
}

.spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 2px solid var(--primary);
  border-right: 2px solid transparent;
  animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
  to {
    transform: rotate(360deg);
  }
}

/* LOADING SPINNER END */

.off__canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

.off__canvas-content,
.off__canvas-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.off__canvas-overlay {
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.off__canvas-content {
  top: 0;
  left: 0;
  background: var(--background);
  width: 300px;
  transform: translateX(calc(-138% + 80px));
}

.off__canvas-header {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
}

.off__canvas-title {
  color: #fff;
}

.off__canvas-main {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.off__canvas.open {
  pointer-events: auto;
  visibility: visible;
}

.off__canvas.open .off__canvas-overlay {
  opacity: 1;
}
.off__canvas.open .off__canvas-content {
  transform: translateX(0%);
}

.off__canvas .offcanvas__link {
  display: block;
  font-weight: 500;
  color: var(--primary);
  padding: 10px;
  opacity: 0.7;
}
.off__canvas .offcanvas__link:hover,
.off__canvas .offcanvas__link:focus {
  color: var(--primary);
  opacity: 1;
}
.off__canvas .offcanvas__link.active {
  background-color: var(--background2);
  border-right: 2px solid var(--primary);
  opacity: 1;
}
.offcanvas__link-icon svg,
.navbar__link-icon svg {
  margin-bottom: 2px;
  font-size: 20px;
}

.offcanvas__item button.offcanvas__link {
  background: transparent;
  border: none;
}

.button-icon {
  position: relative;
  border: none;
  background: transparent;
  font-size: 28px;
  color: var(--white);
  padding: 6px;
  line-height: 0;
}
.button-icon span {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: var(--background);
  color: var(--darkprimary);
}

.text-divider {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.text-divider::before {
  content: "O";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}

/* FOOTER START */

.footer__top {
  background-color: var(--primary);
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer__bottom {
  background-color: var(--darkprimary);
  padding: 10px 0;
}
.footer__copyright {
  color: var(--white);
  opacity: 0.7;
}

/* FOOTER END */

.products__page,
.form__page,
.cart__page,
.contact__page,
.details__page {
  padding: 2rem 0;
}

.cart__title,
.contact__title {
  font-size: 1.8rem;
}

.form__container,
.contact__container {
  background-color: var(--white);
  padding: 16px;
  border-radius: 3px;
  box-shadow: var(--boxshadow);
  margin: auto;
}

/* HOME PAGE START */

.sorting,
.categories,
.product,
.details__thumbnail,
.details {
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: var(--boxshadow);
  margin-bottom: 1rem;
}
.sorting__right,
.sorting__views {
  display: none;
}
.sorting {
  padding: 8px;
  text-align: center;
}

.categories {
  padding: 10px 0;
}

.categories__title {
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 10px 10px;
  margin-bottom: 0.75rem;
}
.categories__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--primary);
  display: block;
  height: 1px;
  width: 21px;
}
.categories__link {
  display: block;
  font-weight: 500;
  color: var(--primary);
  padding: 4px 10px;
  transition: all 0.2s ease-in-out;
}
.categories__link:hover {
  background-color: var(--background);
}

.leftbar {
  display: none;
}

.product {
  position: relative;
  padding: 12px;
  text-align: center;
}
.product__new {
  position: absolute;
  top: 16px;
  left: 0px;
  width: 80px;
  background-color: var(--primary);
  line-height: 25px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--white);
  text-transform: uppercase;
}
.product__image {
  padding: 10px;
}
.product__image img {
  height: 156px;
  object-fit: cover;
}
.product__content-title {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--black);
}
.product__content-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__content-amount {
  color: var(--primary);
  font-weight: 600;
}
.product__content-detail,
.product__content-addcart {
  width: 100%;
  text-transform: uppercase;
}
.product__content-detail,
.product__content-title,
.product__content-price {
  margin-bottom: 6px;
}

.product__content-price svg {
  margin-bottom: 3px;
}
.product__content-outstock {
  color: var(--lightred);
}
.product__content-instock {
  color: var(--green);
}

/* HOME PAGE END */

/* DETAILS PAGE START */

.details,
.details__thumbnail {
  height: 100%;
  padding: 10px;
}
.details__title {
  font-size: 24px;
  font-weight: 500;
}
.details__prices-icon {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  line-height: 18px;
}
.details__prices-icon svg {
  font-size: 28px;
  color: var(--muted);
}
.details__prices-desc {
  padding-left: 8px;
}
.details__prices-text {
  color: var(--black);
  font-weight: 500;
}
.details__prices-amount {
  color: var(--primary);
  font-weight: 600;
}
.details__buttons .itemcount {
  margin-bottom: 12px;
}
.details__buttons-addcart {
  text-transform: uppercase;
}

/* DETAILS PAGE END */

/* ITEM COUNT START */

.itemcount {
  display: flex;
  align-items: center;
}
.itemcount__minus,
.itemcount__plus {
  background-color: var(--background);
  border: none;
  color: var(--primary);
  padding: 0 5px;
  font-size: 20px;
}
.itemcount__minus svg,
.itemcount__plus svg {
  margin-bottom: 3px;
}
.itemcount__quantity {
  min-width: 70px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: var(--background);
}

/* ITEM COUNT END */

/* FORM START */

.form__container {
  max-width: 520px;
}

.form__header,
.form__footer {
  text-align: center;
}
.form__title {
  font-size: 1.8rem;
  font-weight: 500;
}
.form__subtitle {
  color: var(--primary);
}
.form__subtitle,
.form__group {
  margin-bottom: 1.5rem;
}

.form__group-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.form__group {
  position: relative;
  width: 100%;
}
.form__input {
  background: var(--background);
  width: 100%;
  height: 100%;
  padding: 10px 35px;
  border: 1px solid #dddddd;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.form__input:focus,
.form__input:hover {
  background: var(--white);
  border-color: var(--primary);
  outline: none;
  opacity: 1;
}
.form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  color: var(--muted);
  font-size: 22px;
  left: 8px;
  transition: all 0.3s ease-in-out;
}
.form__input:focus ~ .form__input-icon {
  color: var(--primary);
}

.form__textarea {
  padding: 10px;
}

.form__input-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  color: var(--muted);
  font-size: 22px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}

.form__group-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.form__group-rememberme {
  color: var(--primary);
  font-size: 0.9rem;
}
.form__group-forgotPass {
  color: var(--muted);
}
.form__group-forgotPass:hover {
  text-decoration: underline;
  color: var(--muted);
}
.form__submit {
  width: 100%;
  text-transform: uppercase;
  height: 40px;
  margin-bottom: 0.75rem;
}

.form__media-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--black);
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  width: 100%;
  height: 40px;
  letter-spacing: 0.5px;
}
.form__media-link:hover {
  border-color: var(--muted);
}
.form__media-social {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 12px;
  transform: translateY(-55%);
}

/* FORM END */

/* CART PAGE START*/

.cart__page {
  text-align: center;
}
.cart__subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* CART PAGE END */

/* CONTACT PAGE START */

.contact__container {
  width: 100%;
}
.contact__title {
  margin-bottom: 1.25rem;
  text-align: center;
}

/* CONTACT PAGE END */

@media screen and (min-width: 768px) {
  .view-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .view-grid .product {
    width: 49%;
    margin-bottom: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    margin-right: var(--bs-navbar-brand-margin-end);
  }
  .off__canvas-button {
    display: none;
  }
  .dropdown-menu::before {
    top: -0.2rem;
    left: 0.7rem;
  }
  .header__left,
  .header__right {
    width: 166px;
    justify-content: end;
  }
  .search-box {
    width: 500px;
    order: unset;
  }
  .navbar__section {
    display: block;
  }
  .navbar__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__item {
    position: relative;
    display: inline-block;
    white-space: normal;
  }
  .navbar__nav {
    padding: 0 5px;
    list-style: none;
  }
  .navbar__link {
    display: block;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    line-height: 42px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin: 0 8px;
    padding: 0 12px;
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .navbar__dropdown {
    background: transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: none;
    border-left: none;
  }
  .navbar__link:hover,
  .navbar__link:focus,
  .navbar__link.dropdown-toggle:hover,
  .navbar__link.dropdown-toggle:focus,
  .navbar__link.active,
  .navbar__item.dropdown .dropdown-toggle.active {
    color: var(--white);
    opacity: 1;
  }
  .dropdown-arrow {
    margin-bottom: 2px;
  }
  .leftbar {
    display: block;
  }
  .leftbar__ad {
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }
  .sorting,
  .sorting__right,
  .sorting__views {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .button-view {
    padding: 3px;
    margin-left: 3px;
    border-radius: 2px;
    color: var(--primary);
    transition: all 0.3s ease-in-out;
  }
  .button-view.active {
    background-color: var(--background2);
  }
  .view-grid .product {
    width: 32%;
  }
  .view-grid .product__content-title {
    height: 60px;
  }
  .view-list .product {
    display: flex;
    align-items: center;
    text-align: start;
  }
  .view-list .product__image img {
    width: 174px;
  }
  .view-list .product__content {
    padding-left: 12px;
  }
  .view-list .product__content-price {
    flex-direction: column;
    align-items: start;
  }
  .view-list .product__content-amount {
    font-size: 1.2rem;
  }
  .view-list .product__content-detail,
  .view-list .product__content-addcart {
    width: auto;
    margin-bottom: 0;
  }
  .view-list .product__content-addcart {
    margin-right: 6px;
  }
  .view-list .product__content-buttons {
    display: flex;
  }
  .view-list .product__content-buttons a:first-child {
    order: 2;
  }
  .contact__container {
    max-width: 720px;
  }
}
