.itemcount {
  display: flex;
  align-items: center;
  max-width: 91px;
  border: 1px solid var(--background2);
  border-radius: 2px;
}
.itemcount__minus,
.itemcount__plus {
  background-color: var(--background);
  border: none;
  color: var(--primary);
  font-size: 20px;
  padding: 0 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.itemcount__minus svg,
.itemcount__plus svg {
  margin-bottom: 3px;
}
.itemcount__quantity {
  width: 100%;
  background-color: var(--background);
  font-size: 18px;
  font-weight: 600;
  border-left: 1px solid var(--background2);
  border-right: 1px solid var(--background2);
  line-height: 30px;
  text-align: center;
}

.itemcount.disabled button,
.itemcount button[disabled] {
  background-color: var(--background2);
  color: var(--muted);
  cursor: not-allowed;
}
