.cart__empty {
  text-align: center;
  padding: var(--espaciado);
  padding-right: 10px;
  padding-left: 10px;
}
.cart__title {
  font-size: 1.8rem;
}
.cart__subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .cart__empty {
    padding: 5rem 0;
  }
}
